@model IEnumerable<ProdutosMVC.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<section id="product-list">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="table-container">
        <div class="table-wrapper">
            <div class="container">
                <div class="row justify-content-end mt-4">
                    <div class="col-auto">
                        <a class="px-3 btn btn-primary btn-sm" asp-action="Create">
                            <i class="fas fa-plus-circle"></i> Create Product
                        </a>
                        <a class="px-3 btn btn-primary btn-sm" asp-action="Stats">
                            <i class="fas fa-chart-bar"></i> View Statistics
                        </a>
                    </div>
                </div>
            </div>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="product-name col-4">Product Name</th>
                        <th class="col-1">Price</th>
                        <th class="col-1">In Stock</th>
                        <th class="col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="product-name">
                                <img src="https://placehold.co/60" alt="Product Image" class="product-image">
                                @item.Name
                            </td>
                            <td>
                                <span class="product-price">€ @item.Price</span>
                            </td>
                            <td>
                                <span class="stock-tag @(item.InStock ? "in-stock" : "out-of-stock")">
                                    <i class="fas @(item.InStock ? "fa-check" : "fa-times")"></i>
                                </span>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Product Actions">
                                    <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id"
                                        title="View Details">
                                        <i class="fas fa-search"></i>
                                    </a>
                                    <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@item.Id"
                                        title="Edit Product">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"
                                        title="Delete Product">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
